<div  class="task" >
  <select name="cars" id="cars">
    <option selected="selected" disabled="disabled">Choose your task type</option>
    <option value="work">Work</option>
    <option value="sports">Sports</option>
    <option value="household">Household</option>
  </select>
  <div id="work" class="none">
    <input type="text">
  </div>
  <div id="sports" class="none">
    <input type="text">
  </div>
  <div id="household" class="none">
    <input type="text">
  </div>
  <!-- <ul *ngFor="let task of tasks">
    <li *ngFor="let taskItem of task.tasks">{{taskItem}}
      <fa-icon
        [icon]="faTimes"
        [ngStyle]="{'color': 'red'}"
      ></fa-icon>
    </li>
  </ul> -->
</div>
