<div  class="task" >
  <select name="cars" id="cars">
    <option selected="selected" disabled="disabled">Choose an task type to see your task(s)</option>
    <option value="work">Work</option>
    <option value="sports">Sports</option>
    <option value="household">Household</option>
  </select>
  <div>
    <h4>Your task(s)</h4>
    <ul>
      <li *ngFor="let task of tasks">{{task}}</li>
    </ul>
  </div>
  <!-- <ul *ngFor="let task of tasks">
    <li *ngFor="let taskItem of task.tasks">{{taskItem}}
      <fa-icon
        [icon]="faTimes"
        [ngStyle]="{'color': 'red'}"
      ></fa-icon>
    </li>
  </ul> -->
</div>
